
@import './partials/fonts';
@import './partials/variable';
@import './partials/mixins';
@import './partials/animations';
@import './partials/downarrow';
@import './partials/contact';
@import './partials/about';
@import './partials/blogs';
@import './partials/work';




// GLOBAL STYLES

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  font-family: $main-font;
  font-weight: 400;
  letter-spacing: 1.5px;
  cursor: default;
}

p {
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: $font-light-color;
}

.social-icons { 
  color: $primary-dark-color;
}

.social-link {
  font-size: 36px;
  margin-bottom: 15px;
}

.dev-icons {
  font-size: 3em;
  margin: 2%;
  color: $primary-dark-color;
}
.dev-icon-text {
  text-align: center;
  color: $primary-dark-color;
  // color: $font-light-color;
}

.grid {
  display: grid;
}

.body-container {
  width: 100%;
  height: 100%;
}

.circle-img {
  border-radius: 50%;
}

.card-profile-img {
  width: 70%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.footer-copyright {
  text-align: right;
  margin-right: 3%;
  margin-bottom: 1%;
  // color: $footer-text-color;
  color: $font-dark-color;
  grid-row-start: 2;
  grid-column-start: 1;
  align-self: flex-end;
  z-index: 5;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: $small-font;
}

.name-link {
  color: black;
  font-style: normal;
  font-weight: 600;
}

.header {
  color: $font-light-color;
  margin: 3% 0 -3% 4%;
  height: fit-content;
}



// HOME PAGE STYLES 


#home-container {
  height: 100vh;
  grid-template-rows: 70% 30%;
  // @include addBackground();
}


// MOBILE PORTRAIT 

.page-container {
  grid-template-rows: 2fr 1fr;
  @include addBackground();

  min-height: 640px;
  min-width: 360px;

  .profile-container {
    height: 75%;
    align-self: center;
    min-height: 386px;
    max-height: 515px;

    .profile-container-card {
      grid-template-rows: 15% 73% 12%;
      @include cardBorderRadius();
      -webkit-box-shadow: $card-box-shadow;
      -moz-box-shadow: $card-box-shadow;
      box-shadow: $card-box-shadow;
      animation: fadeCardShadowOut 1s forwards;
      &:hover {
        animation: fadeCardShadowIn 0.5s forwards;
      }

      background: $card-bkgd-color;
      background: $card-linear-gradient;

      // margin: 10% auto;
      margin: auto;
      width: 75%;
      max-width: 325px;
      height: 100%;
      text-align: center;

      .profile-container-card-header {
        grid-row-start: 1;
        font-family: $header-font;
        h2 {
          text-align: left;
          margin: 7% 0 0% 6%;
          color: $font-light-color;
          font-family: $header-font;
        }
        #home-profile-container-card-header-subtext {
          text-align: right;
          margin: 02% 5% 0 0;
          color: $font-dark-color;
          font-family: $small-font;
        }
      }

      img {
        grid-row-start: 2;
        justify-self: center;
        align-self: center;
        border: 0.5px solid rgb(1,121,181);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        animation: fadeImgShadowOut 1s forwards;
        &:hover {
          animation: fadeImgShadowIn 0.5s forwards;
        }
      }
      .profile-container-social {
        grid-row-start: 3;
        // display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-self: center;
        // place-self: center;
      }
    }
  }

  .nav-container {
    width: 100%;
    height: 100%;
    margin: auto 0;
    grid-template-columns: 30% 70%;
    grid-row-start: 2;
    grid-column-start: 1;
    @include debugBorder($debug, $debugRed);
    .nav-tooltip, .nav-links {
      grid-template-rows: 1fr 1fr 1fr;
      // grid-template-rows: 1fr 1fr 1fr 1fr;
      @include debugBorder($debug, $debugGreen);

      #downArrow-tooltip {
        letter-spacing: 6px;
        margin-top: 0;
        color: $font-dark-color;
        transform: rotate(270deg);
        width: max-content;
        display: flex;
        position: relative;
        top: 26%;
        right: 35%;
        font-family: $small-font;
        font-size: 1.1rem;
      }

      .nav-text {
        text-align: right;
        padding-right: 12%;
        align-self: center;
        color: $font-light-color;
        letter-spacing: 2px;
        font-size: 1rem;
        cursor: pointer;
        height: 100%;
        font-family: $nav-font;
      }
      .nav-links-tooltip {
        opacity: 0%;
        display: none;
        color: $font-dark-color;
      }
      .text-tooltip {
        text-align: right;
        margin-right: 10%;
        align-self: center;
        display: none;
      }
    }
  }
}





// ABOUT PAGE STYLES



#about-container {
  .header {
    grid-row-start: 1;
    margin: unset;
    margin-left: 4%;
    z-index: 2;
  }
  height: 100vh;
  display: grid;
  grid-template-rows: 8% 1fr 1fr;
  #about-skills-container {
    grid-row-start: 2;
    .profile-container-card {
      width: 80%;
      height: unset;
      grid-template-rows: unset;
      padding: 2%;
      // height: max-content;
      .about-profile-container-card-header {
        h2 {
          font-size: 1em;
          margin: 3% 0 3% 3%;
        }
      }
      .about-profile-container-card-icons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .dev-icon-text-container {
          margin-top: 2%;
          
          .dev-icon-text {
            font-family: $small-font;
            color: lightgrey;
            margin-top: 5%;
          }
        }
      }
    }
  }
  #about-me-text {
    grid-row-start: 3;
    grid-template-rows: 20% 1fr;
    #about-me-text-content {
      text-align: justify;
      padding: 0 9%;
      color: lightgrey;
      font-family: $small-font;
      font-weight: 400;
      line-height: 1.3em;

    }
    // .footer-copyright {
    //   color: $font-dark-color;
    // }
  }


}







// MEDIA QUERIES



@media screen and (min-height: 560px) and (orientation: portrait)  {
  .nav-container {
    .nav-tooltip {
      #downArrow-tooltip {
        margin-top: -19px;
      }
    }
  }
}


@media screen and (min-height: 640px) and (orientation: portrait)  {
  .page-container {
    .profile-container {
      height: 90%;
      min-width: 356px;
    }
    #downArrow-tooltip {
      margin-top: -25px;
    }
  }
}

@media screen and (min-height: 800px) and (orientation: portrait)  {
  .page-container {
    .profile-container {
      height: 80%;
    }
  }
}


// MOBILE LANDSCAPE


@media screen and (min-width: 568px) and (orientation: landscape)  {
  .page-container {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    background-position-x: 0;
    min-height: 360px;
    .profile-container {
      height: 85%;
      max-height: 306px;
      min-height: 250px;
      grid-row-start: 1;
      grid-column-start: 1;
      .profile-container-card {
        width: 77%;
        h2 {
          font-size: larger;
        }
        p {
          font-size: 0.9rem;
        }
      }

      .social-link {
        font-size: 28px;
      }
    }

    .nav-container {
      height: 50%;
      width: 90%;
      grid-column-start: 2;
      grid-row-start: 1;
      margin: auto 5%;
    }

    .footer-copyright {
      grid-column-start: 2;
      grid-row-start: 1;
    }
  }
}



@media screen and (min-width: 800px) and (orientation: landscape)  {

  .page-container {
    .profile-container {
      height: 85%;
      max-width: 345px;
      min-height: 306px;
    }
  }
}





// TABLET PORTRAIT


@media screen and (min-width: 768px) and (orientation: portrait) {

  .page-container {
    background-position-x: 0;

    .profile-container {
      height: 85%;
      .profile-container-card {
        width: 55%;
      }
    }

    .nav-container {
      height: 85%;
      .nav-links {
        .nav-text {
          font-size: 1.5em;
        }
      }
      .nav-tooltip {
        #downArrow-tooltip {
          margin-top: 3%;
          margin-left: 27%;
          font-size: 1.5em;
        }
      }
    }

    .footer-copyright {
      margin-bottom: 1%;
    }
  }
}




@media screen and (min-width: 1024px) and (orientation: portrait) {

  .page-container {
    background-position-x: 0;

    .nav-container {
      .nav-tooltip {
        #downArrow-tooltip {
          margin-top: 26%;
        }
      }
    }
  }
}


// TABLET LANDSCAPE


@media screen and (min-width: 1024px) and (orientation: landscape) {

  .page-container {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    background-position-x: 0;

    .profile-container {
      height: 60%;
      min-height: calc(100vh - 350px);
    }

    .nav-container {
      height: 50%;
      width: 90%;
      margin: auto 5%;
    }

    .footer-copyright {
      grid-column-start: 2;
    }
  }
}




// DESKTOP & lAPTOPS


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  // and (-webkit-min-device-pixel-ratio: 1) 
{ 
  
  .page-container {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    background-position-x: 0;
    
    .profile-container {
      grid-column-start: 2;
      // height: 60%;
      min-height: 430px;
      max-height: 650px;
      max-width: inherit;
      .profile-container-card {
        height: 100%;
        width: 45%;
        min-width: 325px;
        max-width: 420px;
        h2 {
          font-size: xx-large;
        }
        p {
          font-size: 1.3rem;
        }
        .profile-container-social > * {
          position: relative;
        }
        .profile-container-social > *:before {
          @include underlineProperties(63%, 1px, 14px)
        }
        .profile-container-social > *:hover:before,
        .profile-container-social > *:focus:before {
          @include underlineHover()
        }
      }
      .social-icons {
        width: inherit;
      }

      .social-link {
        font-size: 43px;
      }
    }

    .nav-container {
      grid-template-columns: 1fr;
      grid-row-start: 1;
      grid-column-start: 1;
      height: 15%;
      margin: 25% 0;
      .nav-tooltip {
        // grid-row-start: 1;
        // grid-column-start: 2;
        #downArrow-tooltip {
          font-size: 1.6em;
          position: absolute;
          bottom: 110px;
          margin-left: 4.5%;
        }
        .text-tooltip {
          display: none;
          text-align: left;
          margin: 0;
          .active {
            display: block;
          }
        }
      }
      .nav-links {
        grid-row-start: 1;
        grid-column-start: 1;
        .nav-text {
          text-align: left;
          margin: 10px 0 10px 10%;
          position: relative;
          width: max-content;
        }
        .nav-links-tooltip {
          display: block;
          opacity: 0%;
          margin-top: 10px;
          grid-column-start: 2;
          animation: animateRightOut 0.5s forwards;
        }
        .nav-text:before {
          @include underlineProperties(100%, -5px, 0)
        }
        .nav-text:hover:before,
        .nav-text:focus:before {
          @include underlineHover()
        }

        .nav-text:hover + .nav-links-tooltip {
          animation: animateRightIn 0.5s forwards;
        }
      }
    }

    .footer-copyright {
      grid-column-start: 2;
    }

  }
}

/* ----------- Retina Screens ----------- */
// @media screen 
//   and (min-device-width: 1200px) 
//   and (max-device-width: 1600px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (min-resolution: 192dpi) { 

//   .nav-container {
//     float: left;
//   }
// }


