@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");
#contact-container {
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  background-image: url(./../img/bkgd-cable.jpg);
  background-repeat: no-repeat;
  background-position-x: -100px;
  background-size: cover;
  min-height: 640px;
  min-width: 360px;
}

#contact-container .profile-container {
  height: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-height: 386px;
  max-height: 515px;
}

#contact-container .profile-container .profile-container-card {
  -ms-grid-rows: 15% 73% 12%;
      grid-template-rows: 15% 73% 12%;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 40px 15px rgba(0, 89, 145, 0.8);
  box-shadow: 0px 0px 40px 15px rgba(0, 89, 145, 0.8);
  box-shadow: 0px 0px 40px 15px rgba(0, 89, 145, 0.8);
  background: #0179b5;
  background: linear-gradient(145deg, #0179b5 29%, #0297c1 100%);
  margin: auto;
  width: 70%;
  max-width: 325px;
  height: 100%;
  text-align: center;
}

#contact-container .profile-container .profile-container-card h2 {
  text-align: left;
  margin: 7% 0 0% 6%;
  color: white;
}

#contact-container .profile-container .profile-container-card p {
  text-align: right;
  margin: 02% 5% 0 0;
}

#contact-container .profile-container .profile-container-card img {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0.5px solid #0179b5;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#contact-container .profile-container .profile-container-card .profile-container-social {
  -ms-grid-row: 3;
      grid-row-start: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
}

#contact-container .nav-container {
  width: 100%;
  height: 80%;
  margin: auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  border: 1px none red;
}

#contact-container .nav-container .nav-tooltip, #contact-container .nav-container .nav-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px none green;
}

#contact-container .nav-container .nav-tooltip .nav-text, #contact-container .nav-container .nav-links .nav-text {
  text-align: left;
  margin-left: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
}

#contact-container .nav-container .nav-tooltip .nav-text:hover, #contact-container .nav-container .nav-links .nav-text:hover {
  text-decoration: underline;
}

#contact-container .nav-container .nav-tooltip .text-tooltip, #contact-container .nav-container .nav-links .text-tooltip {
  text-align: right;
  margin-right: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

p {
  margin: none;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
}

.iconify {
  width: 42px;
  height: 42px;
  margin-bottom: 10px;
  color: black;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.body-container {
  width: 100%;
  height: 100%;
}

.circle-img {
  border-radius: 50%;
}

.card-profile-img {
  width: 70%;
}

footer {
  text-align: right;
  margin-right: 3%;
  margin-bottom: 1%;
  color: #acb5be;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#home-container {
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  background-image: url(./../img/bkgd-cable.jpg);
  background-repeat: no-repeat;
  background-position-x: -100px;
  background-size: cover;
  min-height: 640px;
  min-width: 360px;
}

#home-container .profile-container {
  height: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-height: 386px;
  max-height: 515px;
}

#home-container .profile-container .profile-container-card {
  -ms-grid-rows: 15% 73% 12%;
      grid-template-rows: 15% 73% 12%;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 40px 15px rgba(0, 89, 145, 0.8);
  box-shadow: 0px 0px 40px 15px rgba(0, 89, 145, 0.8);
  box-shadow: 0px 0px 40px 15px rgba(0, 89, 145, 0.8);
  background: #0179b5;
  background: linear-gradient(145deg, #0179b5 29%, #0297c1 100%);
  margin: auto;
  width: 70%;
  max-width: 325px;
  height: 100%;
  text-align: center;
}

#home-container .profile-container .profile-container-card h2 {
  text-align: left;
  margin: 7% 0 0% 6%;
  color: white;
}

#home-container .profile-container .profile-container-card p {
  text-align: right;
  margin: 02% 5% 0 0;
}

#home-container .profile-container .profile-container-card img {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0.5px solid #0179b5;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#home-container .profile-container .profile-container-card .profile-container-social {
  -ms-grid-row: 3;
      grid-row-start: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
}

#home-container .nav-container {
  width: 100%;
  height: 80%;
  margin: auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  border: 1px none red;
}

#home-container .nav-container .nav-tooltip, #home-container .nav-container .nav-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px none green;
}

#home-container .nav-container .nav-tooltip .nav-text, #home-container .nav-container .nav-links .nav-text {
  text-align: left;
  margin-left: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
}

#home-container .nav-container .nav-tooltip .nav-text:hover, #home-container .nav-container .nav-links .nav-text:hover {
  text-decoration: underline;
}

#home-container .nav-container .nav-tooltip .text-tooltip, #home-container .nav-container .nav-links .text-tooltip {
  text-align: right;
  margin-right: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-height: 640px) and (orientation: portrait) {
  #home-container #profile-container {
    height: 90%;
    min-width: 356px;
  }
}

@media screen and (min-height: 800px) and (orientation: portrait) {
  #home-container #profile-container {
    height: 80%;
  }
}

@media screen and (min-width: 568px) and (orientation: landscape) {
  #home-container {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    background-position-x: 0;
    min-height: 360px;
  }
  #home-container #profile-container {
    height: 85%;
    max-height: 306px;
    min-height: 250px;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  #home-container #profile-container #profile-container-card h2 {
    font-size: larger;
  }
  #home-container #profile-container #profile-container-card p {
    font-size: 0.9rem;
  }
  #home-container #profile-container .iconify {
    width: 30px;
  }
  #home-container .nav-container {
    height: 50%;
    width: 90%;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    margin: auto 5%;
  }
  #home-container footer {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  #home-container #profile-container {
    height: 85%;
    max-width: 345px;
    min-height: 306px;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  #home-container {
    background-position-x: 0;
  }
  #home-container #profile-container {
    height: 85%;
  }
  #home-container #profile-container #profile-container-card {
    width: 55%;
  }
  #home-container .nav-container {
    height: 85%;
  }
  #home-container footer {
    margin-bottom: 1%;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #home-container {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    background-position-x: 0;
  }
  #home-container #profile-container {
    height: 60%;
    min-height: calc(100vh - 350px);
  }
  #home-container .nav-container {
    height: 50%;
    width: 90%;
    margin: auto 5%;
  }
  #home-container footer {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) {
  #home-container {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    background-position-x: 0;
  }
  #home-container #profile-container {
    -ms-grid-column: 2;
        grid-column-start: 2;
    height: 60%;
    min-height: 430px;
    max-height: calc(100vh - 650px);
    max-width: inherit;
  }
  #home-container #profile-container #profile-container-card {
    height: 100%;
    width: 45%;
    min-width: 325px;
    max-width: 420px;
  }
  #home-container #profile-container #profile-container-card h2 {
    font-size: xx-large;
  }
  #home-container #profile-container #profile-container-card p {
    font-size: 1.3rem;
  }
  #home-container #profile-container .iconify {
    width: inherit;
  }
  #home-container .nav-container {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    height: 15%;
    margin: 25% 0;
  }
  #home-container .nav-container .nav-tooltip {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  #home-container .nav-container .nav-tooltip .text-tooltip {
    text-align: left;
    margin: 0;
  }
  #home-container .nav-container .nav-links {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  #home-container footer {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

/* ----------- Retina Screens ----------- */
/*# sourceMappingURL=styles.css.map */