@import './partials/variable';
@import './partials/mixins';
@import './partials/fonts';
@import './partials/about';
@import './partials/blogs';
@import './partials/contact';
@import './partials/work';

body {
  text-align: center;
  background-color: $bkgd-color;
}

#hidden {
  display: none;
}