#about-container {
  .header {
    grid-row-start: 1;
    margin: unset;
    // margin-left: 4%;
    z-index: 2;
  }
  height: 100vh;
  // display: grid;
  // grid-template-rows: 8% 1fr 1fr;
  #about-skills-container {
    grid-row-start: 2;
    .profile-container-card {
      width: 80%;
      height: unset;
      grid-template-rows: unset;
      padding: 2%;
      // height: max-content;
      .about-profile-container-card-header {
        h2 {
          font-size: 1em;
          margin: 3% 0 3% 3%;
        }
      }
      .about-profile-container-card-icons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .dev-icon-text-container {
          margin-top: 2%;
          
          .dev-icon-text {
            font-family: $small-font;
            color: lightgrey;
            margin-top: 5%;
          }
        }
      }
    }
  }
  #about-me-text {
    grid-row-start: 3;
    // grid-template-rows: 20% 1fr;
    #about-me-text-content {
      text-align: justify;
      padding: 0 9% 3% 9%;
      color: lightgrey;
      font-family: $small-font;
      font-weight: 400;
      line-height: 1.3em;
    }
    // .footer-copyright {
    //   color: $font-dark-color;
    // }
  }


}