
.input {
  width: 80%;
  height: 30px;
  margin: 5px auto;
  display: block;
  background-color: $input-background-color;
  border-radius: 5px;
  border: none;
}

.contact-form {
  .input-message {
    height: 40%;
    resize: none;
  }
  .input-label {
    font-family: $small-font;
    font-weight: 400;
  }
}

.button {
  padding: 10px 23px;
  width: max-content;
  height: max-content;
  place-self: end;
  background: $secondary-dark-color;
  border: 2px solid black;
  
  border-radius: 5px;
  color: $font-light-color;
  color: $font-dark-color;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
  a {
    color: black;
  }
}




#contact-container {
  grid-template-rows: 80% 20%;

  .profile-container-card {
    grid-template-rows: 12% 88%;
    width: 80%;
    .contact-form {
      text-align: left;
      label {
        display: block;
        margin-left: 12%;
        color: $font-dark-color;
        margin-top: 7px;
        font-weight: 600;
      }
      div {
        grid-row-start: 2;
        display: flex;
        justify-content: flex-end;
        button {
          margin-top: 7%;
          margin-right: 9%;
          font-family: $nav-font
        }
      }
    }
  }
}


.footer-container {
  grid-row-start: 2;
  grid-column-start: 1;
  width: 100%;
  height: 100%;

  box-shadow: $footer-box-shadow;
  background: $footer-bkgd-color;
  background: $footer-linear-gradient;
  

  .footer-resume-social-container {
    grid-template-rows: 30% 40% 30%;
    .resume-container {
      grid-row-start: 2;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 1fr 1fr;
      color: $footer-text-color;
      .email-helper-text {
        grid-column-start: 2;
        grid-row-start: 1;
        font-style: italic;
        font-weight: 400;
        font-family: $small-font;
      }
      .resume-helper-text {
        grid-column-start: 2;
        grid-row-start: 2;
        text-align: right;
        font-weight: 400;
        font-family: $small-font;
        font-style: italic;
      }
      .resume-container-icons {
        font-size: 2em;
        color: $secondary-light-color;
      }
      .email-icon-link {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        place-self: center;
        position: relative;
        top: 20%;
        .email-icon {
          cursor: pointer;
        }
      }
      
      .download-icon-link {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        place-self: center;
        position: relative;
        top: 20%;
        .download-icon {
          cursor: pointer;
        }
      }

      label {
        font-weight: 300;
        margin-left: 20px;
        margin-top: 5%;
        font-size: 1.3rem;
        color: $font-light-color;
      }
      button {
        margin-top: 10px;
        margin-left: 20px;
        background: $card-bkgd-color;
        a {
          color: black;
        }
      }
    }

    .profile-container-social {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-row-start: 3;
      place-items: center;
      width: 100%;
      .social-link {
        height: 90%;
        .social-icons {
          color: $card-bkgd-color;
        }
      }
    }
  }


  .nav-links {
    height: 100%;
    grid-template-columns: 24% 24% 24% 28%;
    grid-row-start: 1;
    .nav-text {
      font-weight: 400;
      font-family: $nav-font;
      text-align: center;
      align-self: center;
      letter-spacing: 2px;
      font-size: 1.2rem;
      cursor: pointer;
      border-right: 2px solid $secondary-light-color;
      &:last-child {
        border: none;
      }
    }
  }
}