
.input {
  width: 80%;
  height: 30px;
  margin: 5px auto;
  display: block;
  background-color: $input-background-color;
  border-radius: 5px;
}

.contact-form {
  .input-message {
    height: 40%;
    resize: none;
  }
  .input-label {

  }
}

.button {
  padding: 10px 23px;
  width: max-content;
  height: max-content;
  place-self: end;
  // margin: 20px;
  // margin: 0px 20px 20px 0;
  // background: $card-bkgd-color;
  background: $secondary-dark-color;
  // border: 2px solid $secondary-light-color;
  border: 2px solid black;
  // border: 2px solid $card-bkgd-color;
  // border: 2px solid $primary-dark-color;
  
  border-radius: 5px;
  color: $font-light-color;
  color: $font-dark-color;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
  a {
    color: black;
  }
}

// .button {
//   padding: 10px 23px;
//   width: max-content;
//   height: max-content;
//   place-self: end;
//   margin: 0px 20px 20px 0;
//   background: $secondary-dark-color;
//   border: 2px solid $secondary-dark-color;
//   border-radius: 5px;
//   color: $font-dark-color;
// }


#contact-container {
  grid-template-rows: 80% 20%;

  .profile-container-card {
    // grid-template-rows: 15% 65% 20%;
    grid-template-rows: 12% 88%;
    width: 80%;
    .contact-form {
      text-align: left;
      label {
        display: block;
        margin-left: 12%;
        color: $font-dark-color;
        margin-top: 7px;
        font-weight: 600;
      }
      div {
        grid-row-start: 2;
        display: flex;
        justify-content: flex-end;
        button {
          margin-top: 7%;
          margin-right: 9%;
        }
      }

    }

  }
  // footer {
  //   background-color: $primary-dark-color;
  // }
}


.footer-container {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-template-columns: 60% 40%;
  width: 100%;
  height: 100%;

  box-shadow: $footer-box-shadow;
  background: $footer-bkgd-color;
  background: $footer-linear-gradient;
  

  .footer-resume-social-container {
    grid-template-rows: 70% 30%;
    .resume-container {
      // * {
      //   color: $font-light-color;
      //   display: block;
      // }
      label {
        font-weight: 300;
        margin-left: 20px;
        margin-top: 5%;
        font-size: 1.3rem;
        color: $font-light-color;
      }
      button {
        margin-top: 10px;
        margin-left: 20px;

        background: $card-bkgd-color;
        // background: $footer-bkgd-color;
        // background: $secondary-dark-color;
        // border: 2px solid $secondary-light-color;
        // border: 2px solid black;
        // border: 2px solid white;
        // border: 2px solid $card-bkgd-color;
        // border: 2px solid $primary-dark-color;
        a {
          color: black;
        }
      }
    }

    .profile-container-social {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      // align-self: flex-end;
      // grid-column-start: 1;
      place-items: center;
      width: 100%;
      // height: 20%;
      .social-link {
        height: 90%;
        .social-icons {
          color: $card-bkgd-color;
        }
        // .iconify {
        //   width: 30px;
        // }
      }
    }
  }


  .nav-links {
    grid-column-start: 2;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .nav-text {
      font-weight: 600;
      text-align: right;
      margin-right: 20%;
      align-self: center;
      // color: $font-light-color;
      letter-spacing: 2px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}