
.input {
  width: 80%;
  height: 30px;
  margin: 5px auto;
  display: block;
  background-color: $input-background-color;
  border-radius: 5px;
  border: none;
}

.contact-form {
  .input-message {
    height: 40%;
    resize: none;
  }
  .input-label {
    font-family: $small-font;
    font-weight: 400;
  }
}

.button {
  padding: 10px 23px;
  width: max-content;
  height: max-content;
  place-self: end;
  background: $secondary-dark-color;
  border: 2px solid black;
  
  border-radius: 5px;
  color: $font-light-color;
  color: $font-dark-color;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
  a {
    color: black;
  }
}




#contact-container {
  grid-template-rows: 80% 20%;

  .profile-container-card {
    grid-template-rows: 12% 88%;
    width: 80%;
    .contact-form {
      text-align: left;
      label {
        display: block;
        margin-left: 12%;
        color: $font-dark-color;
        margin-top: 7px;
        font-weight: 600;
      }
      div {
        grid-row-start: 2;
        display: flex;
        justify-content: flex-end;
        button {
          margin-top: 7%;
          margin-right: 9%;
          font-family: $nav-font
        }
      }
    }
  }
}


.footer-container {
  grid-row-start: 2;
  grid-column-start: 1;
  width: 100%;
  height: 100%;

  box-shadow: $footer-box-shadow;
  background: $footer-bkgd-color;
  background: $footer-linear-gradient;
  

  .footer-resume-social-container {
    grid-template-rows: 30% 40% 30%;
    .resume-container {
      grid-row-start: 2;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 1fr 1fr;
      color: $footer-text-color;
      .email-helper-text {
        grid-column-start: 2;
        grid-row-start: 1;
        font-style: italic;
        font-weight: 400;
        font-family: $small-font;
      }
      .resume-helper-text {
        grid-column-start: 2;
        grid-row-start: 2;
        text-align: right;
        font-weight: 400;
        font-family: $small-font;
        font-style: italic;
      }
      .resume-container-icons {
        font-size: 2em;
        color: $secondary-light-color;
      }
      .email-icon-link {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        place-self: center;
        position: relative;
        top: 20%;
        .email-icon {
          cursor: pointer;
        }
      }
      
      .download-icon-link {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        place-self: center;
        position: relative;
        top: 20%;
        .download-icon {
          cursor: pointer;
        }
      }

      label {
        font-weight: 300;
        margin-left: 20px;
        margin-top: 5%;
        font-size: 1.3rem;
        color: $font-light-color;
      }
      button {
        margin-top: 10px;
        margin-left: 20px;
        background: $card-bkgd-color;
        a {
          color: black;
        }
      }
    }

    .profile-container-social {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-row-start: 3;
      place-items: center;
      width: 100%;
      .social-link {
        height: 90%;
        .social-icons {
          color: $card-bkgd-color;
        }
      }
    }
  }


  .nav-links {
    height: 100%;
    grid-template-columns: 24% 24% 24% 28%;
    grid-row-start: 1;
    .nav-text {
      font-weight: 400;
      font-family: $nav-font;
      text-align: center;
      align-self: center;
      letter-spacing: 2px;
      font-size: 1.2rem;
      cursor: pointer;
      border-right: 2px solid $secondary-light-color;
      &:last-child {
        border: none;
      }
    }
  }
}


// MEDIA QUERIES


// // IPHONE 5/SE

// @media screen and (min-width: 320px) and (orientation: portrait)  {

// }


// // GALAXY S5 / MOTO G4

// @media screen and (min-width: 360px) and (orientation: portrait)  {

// }



// // IPHONE X

// @media screen 
//   and (min-width: 375px) 
//   and (min-height: 375px) 
//   and (orientation: portrait) {

// }



// // PIXEL 2

// @media screen and (min-width: 411px) and (orientation: portrait)  {

// }






// MOBILE LANDSCAPE

// IPHONE 5/SE

@media screen and (min-width: 568px) and (orientation: landscape)  {

  #blogs-container, #contact-container, #work-container {
    footer {
      width: 40%;
      height: 100%;

      .footer-container {
        .footer-resume-social-container {
          .nav-links {
            grid-template-columns: 45% 1fr;
            grid-row-start: 3;
            .nav-text {
              &:nth-child(even) {
                border-right: none;;
              }
            }
          }
          .resume-container {
            grid-template-columns: 30% 70%;
            text-align: left;
            .email-icon-link {
              top: unset;
              align-self: center;
            }
            .download-icon-link {
              top: unset;
              align-self: center;
              grid-column-start: 1;
              grid-row-start: 2;
            }
            .email-helper-text {
              line-height: 0;
              text-indent: -9999px;
              align-self: center;
              &::after {
                line-height: initial;
                content: "...email me";
                text-indent: 0;
                display: block;
              }
            }
            .resume-helper-text {
              text-align: left;
              line-height: 0;
              text-indent: -9999px;
              align-self: center;
              &::after {
                // text-align: left;
                line-height: initial;
                content: "...or grab my CV";
                text-indent: 0;
                display: block;
              }
            }
          }
          .profile-container-social {
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-start: 1;
            .social-link {
              height: unset;
              margin-bottom: unset;
            }
          }
        }
      }
    }
  
    .list-container {
      width: 60%;
      grid-column-start: 2;
      position: absolute;
      right: 0;
      .list {
        .list-item {
          width: 75%;
        }
      }
    }
  }
}


// GALAXY S5 / MOTO G4

@media screen and (min-width: 640px) and (orientation: landscape)  {

  #blogs-container, #contact-container {
    footer {
      .footer-container {
        .footer-resume-social-container {
          .resume-container {
            .email-helper-text {
              line-height: initial;
              text-indent: 0;
              align-self: center;
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

  }
}



// PIXEL 2

@media screen and (min-width: 731px) and (orientation: landscape)  {

  #blogs-container, #contact-container {
    footer {
      .footer-container {
        .footer-resume-social-container {
          .resume-container {
            .resume-helper-text {
              line-height: initial;
              text-indent: 0;
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}


// PIXEL 2XL

// @media screen and (min-width: 800px) and (orientation: landscape)  {

// }






// TABLET PORTRAIT

// IPAD PORTRAIT 

@media screen and (min-width: 768px) and (orientation: portrait) {

  #blogs-container, #contact-container, #work-container {
    // grid-template-rows: 80% 20%;
    footer {
      height: 20%;
      .footer-container {
        .footer-resume-social-container {
          .resume-container {
            grid-template-rows: 1fr;
            align-items: center;
            p {
              font-size: 1.2em;
            }
            a {
              top: unset;
              font-size: 1.2em;
            }
            .resume-helper-text {
              grid-row-start: 1;
            }
          }
          .nav-links {
            .nav-text {
              font-size: 1.4em;
            }
          }
          .profile-container-social {
            .social-link {
              font-size: 3em;
            }
          }
        }
      }
    }
    .list-container {
      width: 100%;
      height: fit-content;
      .list {
        grid-column-start: 1;
        grid-template-columns: 1fr 1fr;
        .list-item {
          max-width: 400px;
        }
      }
    }
  }
}



// IPAD PRO PORTRAIT

@media screen 
  and (min-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {

    #blogs-container, #contact-container, #work-container {
      footer {
        .footer-container {
          .footer-resume-social-container {
            .resume-container {
              p {
                font-size: 1.4em;
              }
            }
            .nav-links {
              .nav-text {
                font-size: 1.9em;
              }
            }
            .social-link {
              font-size: 3.4em;
            }
          }
        }
      }
      .list-container {
        width: 90%;
        margin: 0 auto;
      }
    }

}





// TABLET LANDSCAPE

// IPAD LANDSCAPE

@media screen and (min-width: 1024px) and (orientation: landscape) {

  #blogs-container, #contact-container, #work-container {
    grid-template-columns: unset;
    footer {
      width: 30%;
      .footer-container {
        .footer-resume-social-container {
          .resume-container {
            p {
              font-size: 1.1em;
            }
            a {
              font-size: 1.2em;
            }
          }
          .nav-links {
            grid-template-columns: 1fr;
            place-self: flex-start;
            margin-left: 5%;
            .nav-text {
              text-align: left;
              padding: 10px;
              border-right: none;
              border-left: 2px solid $secondary-dark-color;
            }
          }
        }
      }
    }
    .list-container {
      width: 70%;

      // grid-column-start: 2;
      // position: absolute;
      // right: 0;
      .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .list-item {
          width: 85%;
        }
      }
    }
  }
}



// IPAD PRO LANDSCAPE

@media screen 
  and (min-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

  #blogs-container, #contact-container {
    footer {
      .footer-container {
        .footer-resume-social-container {
          .resume-container {
            p {
              font-size: 1.4em;
            }
            a {
              font-size: 1.5em;
            }
          }
          .profile-container-social {
            .social-link {
              font-size: 4em;
            }
          }
        }
        .nav-links {
          .nav-text {
            font-size: 1.5em;
          }
        }
      }
    }
    .list-container {
      .list {
        width: 85%;
        margin: 0 auto;
      }
    }
  }
}

// DESKTOPS, lAPTOPS


/* ----------- Non-Retina Screens ----------- */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


}

/* ----------- Retina Screens ----------- */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 3000px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (min-resolution: 192dpi) { 
  

}