$bkgd-color: darkblue;
$primary-dark-color: darkblue;
$primary-light-color: lightblue;
$secondary-dark-color: orange;
$secondary-light-color: orange;
$icon-dark-color: black;
$icon-light-color: white;