  
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
$bkgd-color: rgb(0,154,254);
$bkgd-img: url(./../img/bkgd-cable.jpg);
// $bkgd-img: url(./../img/bkgd-cable.jpg) no-repeat -100px/cover;
// $bkgd-img: url("./../img/bkgd-chair-large.jpg");
$primary-dark-color: #003966;
$primary-light-color: #01a6d6;
$secondary-dark-color: #f5bc00;
$secondary-light-color: #ffd100;
$icon-dark-color: black;
$icon-light-color: white;
$font-dark-color: black;
$font-light-color: white;
$footer-text-color: #acb5be;
$input-background-color: whitesmoke;
// $font-primary: 'Source Sans Pro, sans-serif';

$debug: none;
$debugRed: red;
$debugGreen: green;
$debugBlue: blue;